{% extends 'base.html' %}
{% block title_page %}
    {{ character_infos[0]['name'] }}
{% endblock %}
{% block content %}
<div class="infos">
    <table class="table-dark table-bordered border-primary align-middle">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Status</th>
                <th scope="col">Espèce</th>
                <th scope="col">Type</th>
                <th scope="col">Genre</th>
                <th scope="col">Origin</th>
                <th scope="col">Location</th>
                <th scope="col">Episode</th>
              </tr>
        </thead>
        <tbody>
            {% for character_info in character_infos %}
                <tr>
                    <td><img src="{{ character_info.image }}" alt=""></td>
                    <td>{{ character_info.status }}</td>
                    <td>{{ character_info.species }}</td>
                    <td>{{ character_info.type }}</td>
                    <td>{{ character_info.gender }}</td>
                    <td>{% for key, val in character_info.origin.items() %}
                            {% if key=='url' %}
                                <a href="#" onclick="go_to_location('{{val}}')">{{ val }}</a>
                            {% else %}
                                {{ key }} : {{ val }} <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{% for key, val in character_info.location.items() %}
                            {% if key=='url' %}
                                <a href="#" onclick="go_to_location('{{val}}')">{{ val }}</a>
                            {% else %}
                                {{ key }} : {{ val }} <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for episode in character_info.episode %}
                            <a href="#" onclick="go_to_episode('{{episode}}')">{{ episode }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}