{% extends 'base.html' %}
{% block title_page %}
    {{ episode_infos['name'] }}
{% endblock %}
{% block content %}
<div class="infos">
    <table class="table-dark table-bordered border-primary align-middle">
        <thead>
            <tr>
                <th scope="col">Air Date</th>
                <th scope="col">Episode</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ episode_infos.air_date }}</td>
            <td>{{ episode_infos.episode }}</td>
        </tbody>
    </table>
</div>
{% endblock %}