{% extends 'base.html' %}
{% block title_page %}
    {{ location_infos.name }}
{% endblock %}
{% block content %}
<div class="infos">
    <table class="table-dark table-bordered border-primary align-middle">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Dimension</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ location_infos.type }}</td>
            <td>{{ location_infos.dimension }}</td>
        </tbody>
    </table>
</div>
{% endblock %}