body
{
	background-color: black;
	font-size: 25px;
	text-align: center;
}
.infos
{
	display: flex;
	justify-content: center;
}

.title-page
{
	color: white;
	font-size: 50px;
}

table{
	text-align:center
}